@import './variables.scss';

.toolbar {
    height: $toolbar-height;
    background-color: white;
    display: flex;
    padding: 0px 10px;
    align-items: center;
    position: absolute;
    width: 100%;
    box-shadow: 0 4px 5px gray;
    z-index: 999;
}

.setting-bar {
    height: $toolbar-height;
    background-color: white;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    box-shadow: 0 4px 5px gray;
    top: $toolbar-height;
}

.toolbar__btn {
    height: 25px;
    width: 25px;
    border:none;
    outline: none;
    cursor: pointer;
    margin-right: 4px;
}

.line{
   background: url('../assets/line.png') no-repeat center center;
}